/* debugging purposes */
* {
   /* border: 1px solid green; */
}

 /* size of all fonts unless override */
html {
    font-size: 62.5%;
}


/* simple reset - resets browser's default styling */
html, body, header, section, article, footer, a, div, ul, li, h1, h2, h3, p{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


 /* remove underline on hyperlinks */
a {
    text-decoration: none;
}


/* remove bullets on lists */
li {
    list-style: none;
}


/* style for all input tags unless override */
input { 
    border-radius: 5px;
    font-size: 15px;
    padding: 7px;
    margin: 1px;
}


/* ------------------------------------------- */
/* ABOVE THE FOLD (atf) */
/* ------------------------------------------- */
#atf {
    display: flex;
    flex-direction: column;
}

#gopher-img {
    margin-top: 70px;
    background-color: #8e8e8e;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    /* grow the hero image to fill in unused space */
    flex-grow: 1;
}

/* contains the navbar, hamburger menu and dropdown-form */
header {
    font-family: sans-serif;
    color: #333;
    position: fixed;  /* The element is positioned relative to the browser window */
    top: 0; /* no space on top */
    flex-grow: 1;
    width: 100%;
    height: 60px; /* fixed height */
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}


/* contains the logo and signin form */
#navbar {
    height: 100%; /* fill the entire height of header */
    /* applies to hamburger menu */
    /* (rem font-size)Equal to the computed value of font-size 
    on the root element. When specified on the 
    font-size property of the root element, the 
    rem units refer to the property's initial value. 
    This means that 1rem equals the font size of the 
    html element (which for most browsers has a default value of 16px) */
    font-size: 2rem; 
    /* The flex-grow property specifies how much the item will grow 
    relative to the rest of the flexible items inside the same container. */
    flex-grow: 2; 
    /* position sign in form */
    display: flex;
    align-items: center;
}


#logo {
    /* expand the element to fill height */
    height: 100%;

    /* expand the element logo to fill width
    along primary axis ( horizontally ) */
    /* also seperates logo with hamburger menu, signin form */
    flex-grow: 1;

    /* font styling */
    color: #333;
    font-size: 2rem;
    letter-spacing: 1px;

    /* center text */
    display: flex;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}


#logo a{
        color: black;
}


/* change the logo's text color when mouse hover's over it */
#logo a:hover {
    color: #0ebfe9;
    transition: 0.5s ease;
}


/* styles the signin form */
.nd{
    display: none;
    white-space: nowrap; /* prevent from wrapping elements */
    letter-spacing: 1px;
    font-family: sans-serif;
    margin-right: 10%;
}


/* yuummmmmm */
#hamburger {
    padding: 10px;
    color: white;
    background-color: #333; 
    border-radius: 2px;
    margin-right: 10%;
    width: 25px;
    height: 25px;
    fill: white;
}


/* change the color when hovered */
#hamburger:hover{
    cursor: pointer;
    background-color: #0ebfe9;
    transition: 0.5s ease;
}


/* initially displayed as "none"; targeted when hamburger is clicked */
#dropdown-form {
    background: rgba(51,51,51, 0.7);
    padding: 20px;
    z-index: 10000; /* shows on top of everything */
    flex-direction: column; /* position dropdown center vertically and fill the widht of dropdown-form */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 2px solid black;
}


/* style for dropdown form sign in and register */
.btn {
    padding: 6px 12px;
    background-color: #333;
    margin: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}


.btn:hover{
    background-color: #0ebfe9;
    transition: 0.5s ease;
}


/*  */
#dropdown-form form {
    display: flex;
    flex-direction: column; /* vertically */
}


#center {
    flex-grow: 1;  
}


/* ------------------------------------------- */
/* BELOW THE FOLD (btf) */
/* ------------------------------------------- */
.btf-content {
    display: flex; /* for later use */
}

/* articles */
.btf-content article {
    padding: 10px;
}

/* article title */
.btf-content h3 {
    /* font format */
    font-family: sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
}

/*article content */
.btf-content p {
    /* font format */
    font-family: sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}


/* as it says */
footer {
    height: 70px;
    background-color: #333; 
    padding: 10px;
}


/* team member names*/
footer p {
    color: #999;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* dummy links in footer */
footer p a{
    text-decoration: none;
    color: #999;
    padding: 5px;
}


footer p a:hover{
    color: #0ebfe9;
}


#cta {

    /* set the height of the cta container */
    height: 170px;

    /* set the color of the cta container */
    background-color: #f5f5f5;

    /* center text and button containers */
    /*      #cta-txt, #cta-btn */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cta-txt {

    /* format text */
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 3.5rem;
    letter-spacing: 2px;
    color: #333;

    /* center text old fashioned-way */
    text-align: center;
}

#cta-btn {

    /* button's width */
    width: 20rem;

    /* button's height */
    height: 5rem;
    margin: 1.3rem 0;

    /* format text */
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1;

    /* format button */
    background-color: #333;
    border-radius: 5px;

    /* center child anchor element */
    display: flex;
    justify-content: center;
    align-items: center;
}

#cta-btn:hover {
    background-color: #0ebfe9;
    transition: 0.5 ease;
}

#cta-btn a {

    /* make a large touch target */
    /* expand the anchor element to fill height */
    height: 100%;

    /* make a large touch target */
    /* expand the anchor element to fill width along primary axis ( horizontally ) */
    flex-grow: 1;

    /* format font */
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;

    /* format anchor dimsions match the containing h2 element #cta-btn */
    border-radius: 5px;

    /* center the text */
    display: flex;
    justify-content: center;
    align-items: center;
}

#cta-btn a:hover {
    background-color: #0ebfe9;
}
