#logo {
	margin-left: 10%;
}


#hamburger{
	display: flex;
	margin-right: 10%;
}


.btf-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


.btf-content article {
    width: 30%;
}

html, body, #atf {
    height: auto;
}