/* show hamburger: yummmmmm */
#hamburger{
	display: flex;
}

.nm {
	display: flex;
	flex-direction: column;
}

.btf-content{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
}

#gopher-img {
    background-image: url("/img/logo-sml.png");
}


#search-box {
    width: 90%;
}