<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDo's&Dont's</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/dash.css">
        <script type="text/javascript" src="../js/main.js"></script>
       <!-- this is applied when screen width is < 768px -->
        <link rel="stylesheet" media="screen and (max-width: 768px)" href="../css/mq_768-less.css">
        <!-- this is applied when width > 768px -->
        <link rel="stylesheet" media="screen and (min-width: 769px)" href="../css/mq_768-plus.css">
    </head>

    <body>
        <!-- atf in main.css; styles atf to display its contents full page in the browser -->
        <div id="atf">

            <header>
                <div id="navbar">
                    <div id="logo"><a href="#" >ToDo's&Dont's</a></div>
                    <div class="nd">
                        <a class="btn" href="/profile?id={{.Session_id}}">{{.User.Email}}</a>
                        <a class="btn" href="/logout">Logout</a>
                    </div>
                    <svg id="hamburger" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" onclick="show_dropdown_form();" ><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
                </div>
                <!-- dropdown-form display MUST be none -->
                <div id="dropdown-form" style="display: none;">
                    <form class="nm">
                        <a class="btn" href="/profile">{{.User.Email}}</button>
                        <a class="btn" href="/logout">Logout</a>
                    </form>
                </div>
            </header>
            
            <div id="sidebar">

            </div>

        </div>
<!-- articles -->
       
        <footer>
                    <p>&copy; CSCI 130 Project Spring 2016: Sergio Avila, Carlos Daccarett, Brian Padilla, Edwin Perea, Juan Taruc</p>
                    <p><a href="#">Home</a>|<a href="#">About</a>|<a href="#">Link1</a>|<a href="#">Link2</a></p>
        </footer>
    </body>
    <script type="text/javascript" src="js/main.js"></script>
</html>
