<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Go-Doers</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/dash.css">
        <link rel="stylesheet" href="css/pictures.css">
        <script type="text/javascript" src="../js/main.js"></script>
       <!-- this is applied when screen width is < 768px -->
        <link rel="stylesheet" media="screen and (max-width: 768px)" href="../css/mq_768-less.css">
        <!-- this is applied when width > 768px -->
        <link rel="stylesheet" media="screen and (min-width: 769px)" href="../css/mq_768-plus.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>

    <body>
        <!-- atf in main.css; styles atf to display its contents full page in the browser -->
        <div id="atf">

            <header>
                <div id="navbar">
                    <div id="logo"><a href="/dashboard?id={{.S.Session_id}}" >Go-Doers</a></div>
                    <div class="nd">
                        <form method="POST" action="/pictures?={{.S.Session_id}}">
                            <span>
                                <input id="search-box" type="text" name="search" autocomplete="off" placeholder="Search...">
                                <button id="search-submit" class="fa fa-search" type="submit"></button>
                            </span>
                        </form>
                        <a class="btn" href="/profile?id={{.S.Session_id}}">{{.S.User.Email}}</a>
                        <a class="btn" href="/files?id={{.S.Session_id}}">My Photos</a>
                        <a class="btn" href="/logout">Logout</a>
                    </div>
                    <svg id="hamburger" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" onclick="show_dropdown_form();" ><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
                </div>
                <!-- dropdown-form display MUST be none -->
                <div id="dropdown-form"  style="display: none;">
                    <div class="nm">
                        <form method="POST" action="/pictures?={{.S.Session_id}}">
                            <span>
                                <input id="search-box" type="text" name="search" autocomplete="off" placeholder="Search...">
                                <button id="search-submit" class="fa fa-search" type="submit"></button>
                            </span>
                        </form>
                        <a class="btn" href="/profile">{{.S.User.Email}}</a>
                        <a class="btn" href="/files?id={{.S.Session_id}}">My Photos</a>
                        <a class="btn" href="/logout">Logout</a>
                    </div>
                </div>
            </header>
            
            <div id="nm">
                <div id="center-content">
                    {{ if .Obj.Hits }}
                        <p>The images came from pixabay.com via pixabay api</p>
                        <p>The search returned {{ .Obj.TotalHits }} results</p>
                    {{ end }}

                    <div id="api-list">
                    {{ range $photos := .Obj.Hits }}
                        <figure>
                            <a href="{{ $photos.WebFormatURL }}" target="_blank">
                                <img src="{{ $photos.PreviewURL}}">
                            </a>
                            <figcaption>
                                <a href="{{ $photos.PageURL }}" target="_blank">{{ $photos.PageURL }}</a>
                            </figcaption>
                        </figure>    
                    {{ end }}
                    </div>
                </div>
            </div>

        </div>
    </body>
    <script type="text/javascript" src="js/main.js"></script>
</html>