<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDo's&Dont's</title>

		<link rel="stylesheet" href="../css/main.css">
		<script type="text/javascript" src="../js/main.js"></script>

		<link rel="stylesheet" href="../css/register.css">
        <link rel="stylesheet" href="../css/profile.css">
        <!-- this is applied when screen width is < 768px -->
        <link rel="stylesheet" media="screen and (max-width: 768px)" href="../css/mq_768-less.css">
        <!-- this is applied when width > 768px -->
        <link rel="stylesheet" media="screen and (min-width: 769px)" href="../css/mq_768-plus.css">
    </head>
	<body>
		<div id="atf">		
			 <header>
                <!-- navbar contains the logo and the sign in inputs  -->
                <div id="navbar">
                    <div id="logo"><a href="/dashboard?id={{.Session_id}}" >ToDo's&Dont's</a></div>
                    <div class="nd"><a class="btn" href="/profile?id={{.Session_id}}">{{.User.Email}}</a><a class="btn" href="/logout">Logout</a></div>
                    <!-- hamburger only shows up when the width of the screen is < 768px -->
                    <!-- inline svg for extra credit -->
                    <svg id="hamburger" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" onclick="show_dropdown_form();" ><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
                </div>
                <!-- dropdown-form only shows up when hamburger menu is shown in the screen, therfore
                     dropdown-form can only be accessed if the screen width is below 800px -->
                 <div id="dropdown-form" style="display: none;">
                    <form class="nm">
                        <a class="btn" href="/profile">{{.User.Email}}</button>
                        <a class="btn" href="/logout">Logout</a>
                    </form>
                </div>

                <div id="login_status_modal" class="modalDialog">
                    <div>
                        <script type="text/javascript">show_login_modal({{.Message}});</script>
                        <a class="close" onclick="close_login_modal();">X</a>
                        <h1>{{.Message}}</h1>
                        <button id="modal-close-btn" class="btn" onclick="close_login_modal();">Close</button>
                    </div>
                </div>
            </header>
			
			    <div id="nm">
			    	<section id="center-content">
			    		<form method="POST" action="/profile?id={{.Session_id}}">
                            <h1 id="edit-profile-head">Edit Profile</h1><br>
                            <p id="edit-profile-head-2">First Name</p>
                            <input type="text" name="firstname" value="{{.User.FirstName}}" autocomplete="off" required>
                            <p id="edit-profile-head-2">Last Name</p>
                            <input type= "text" name="lastname" value="{{.User.LastName}}" autocomplete="off" required>
                            <p id="edit-profile-head-2">Email</p>
                            <input id="register-email" type="email" name="email" value="{{.User.Email}}" autocomplete="off" required>
                            <a class="btn pw-btn" href="#PasswordChange">Change Password</a>
                            <div id="PasswordClose">
                                <div id="PasswordChange" class="open">
                                    <br><p id="edit-profile-head-2">New Password</p>
                                    <input id="register-password1" type="password" name="password1" placeholder="New password" novalidate>
                                    <p id="edit-profile-head-2">Confirm Password</p>
                                    <input id="register-password2" type="password" name="password2" placeholder="Confirm new password" novalidate>
                                    <a class="btn pw-btn" href="#PasswordClose">Cancel</a>
                                </div>
                            </div>
                            <br>
                            <input class="btn profile-save" type="submit" value="Save">
                            <div id="register-err-container">
                                <h5 id="register-ajax-error1"></h5>
                                <h5 id="register-ajax-error2"></h5>
                            </div>
			            </form>
			        </section>
			    </div>
			</div>

		    
    </body>
    <script type="text/javascript" src="../js/ajax.js"></script>
</html>